<h1>Schedule</h1>

<div class="single-game-container" *ngFor="let game of games | slice:0:100; let i=index">
    <div class="game-info-container">
        <span class="game-date">{{game.day}}, {{game.date}} <span class="divider">&nbsp; | &nbsp;</span> {{game.time}}</span>
        <span class="game-week">Wk {{game.wk}}</span>
    </div>
    <div class="matchup-container">
        <span class="home-team">
            <span class="side-indicator">Home</span>
            {{game.homeTeam}}
        </span>
        <span class="versus">vs</span>
        <span class="away-team">
            <span class="side-indicator">Away</span>
            {{game.awayTeam}}
        </span>
    </div>
</div>